body 
{
    background-color:white;
    text-align:center;
    margin:24px 0px 24px 0px;
}

#webPage
{
    width:960px;
    display:inline-block; 
}

#activePage 
{
    background-color:#519872;
}

.navigationBar /* Used for the Footer too */
{
    margin:0px;
    padding:0px;
    background-color:#635F5C;
    display:inline-block; 
    width:960px;
}

.navigationBarButton    /* For the navigation bar buttons */
{
    font-size:20px;
    font-family: 'Share Tech Mono', monospace, 'Times New Roman', Verdana;
    background-color:#635F5C;
    text-align:center;
    margin:0px;
    padding:0px 20px;
    width:auto;
    text-decoration:none;
    color:white;
    float:left;
}

a:hover  /* Turns black when the cursor is on top */
{
    background-color:black;
}

#image
{
    float:right;
    border:10px solid #3d3a42;
    margin:30px 0px 20px 20px;
}

#headerStyle
{
    font-family: 'Share Tech Mono', monospace, 'Times New Roman', Verdana;  /* Using Google fonts */   
    margin:20px 0px 0px 0px;
}

.pageContent  /* Section that contains the images and text */
{
    width:960px;
    font-family:'PT Sans', sans-serif;
    color:#3d3a42;
    margin:0px;
    padding:0px;
    float:left;
    text-align:left;
}

p
{
    font-family:'Times New Roman', Verdana;
    font-size:18px;
}

#footerLink
{
    font-size:15px;
}