body 
{
    text-align:center; 
    margin:24px;
    background-color:#F0F0F0;
}

#webPage
{
    width:960px;
    display:inline-block;
    text-align:center;
}

#activePage 
{
    background-color:#519872;
}

.navigationBar /* Used for the the Navigation Bar */
{
    margin:0px;
    padding:0px;
    background-color:#635F5C;
    display:inline-block; 
    width:960px;
}

.navigationBarButton    /* Used the navigation bar buttons */
{
    font-size:20px;
    font-family:'Share Tech Mono', monospace, 'Times New Roman', Verdana;
    background-color:#635F5C;
    text-align:center;
    margin:0px;
    padding:0px 20px;
    width:auto;
    text-decoration:none;
    color:white;
    float:left;
}

div div a:hover  /* Turns black when the cursor is on top */
{
    background-color:black;
    color:white;
}

#image
{
    float:right;
    border:10px solid #635F5C;
    margin:30px 0px 5px 20px;
}

#headerStyle
{
    font-family: 'Share Tech Mono', monospace, 'Times New Roman', Verdana;  /* Using Google fonts */   
    margin:20px 0px 0px 0px;
}

.pageContent  /* Section that contains the images and text */
{
    width:960px;
    font-family:'PT Sans', sans-serif;
    color:#635F5C;
    margin:0px;
    padding:0px;
    float:left;
    text-align:left;
}

p
{
    font-family:'Times New Roman', Verdana;
    font-size:20px;
    margin:25px 0px 0px 0px;
}

.footer /* Used for the Footer too */
{
    background-color:#635F5C;
    display:inline-block; 
    width:960px;
    margin:20px 0px 0px 0px;
}

#footerLink
{
    font-size:15px;
    padding:5px;
}

.multipleImageCorrect /* When the page has multiple pictures, I noticed that the first div is repositioned 8px to the right. This class is to correct it */
{
    position:relative; 
    left:8px;
}

.pageBreak
{
    color:#635F5C;
    margin:0px;
    padding-top:20px;
    float:right;
    width:960px;
    text-align:center;
}

.topPageLink
{
    color:black;
    clear:both;
    float:left;
    background-color:#F0F0F0;
    text-decoration:underline;
    font-family:'Times New Roman', Verdana;
    padding-top:20px;
}

div a:hover /* Turn blue when cursor on top */
{
    color:red;
}

/* Flip Picture Start......................... */

.flip-container {
	perspective: 1000px;
	display: inline-block;
    margin: 0px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 500px;
	height: 284px;
}

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* Flip Picture End...................*/